.business-container {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.business-photo {
    width: 700px;
    pointer-events: none;
}

.business-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 50px;
    padding: 0 10%;
}

.business-button {
    border: none;
    background: none;
}

.business-a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background: #4aa3ff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 6px;
    border: 2px solid #4aa3ff;
    transition: all 0.3s ease;
}

.business-a:hover {
    color: #4aa3ff;
    background: none;
}

@media (max-width: 1500px) {
    .business-photo {
        width: 600px;
    }
}

@media (max-width: 1400px) {
    .business-photo {
        width: 500px;
    }
}

@media (max-width: 1300px) {
    .business-photo {
        width: 400px;
    }
}

@media (max-width: 1200px) {
    .business-photo {
        width: 300px;
    }
}


@media (max-width: 1100px) {
    .business-photo {
        width: 340px;
    }

    .business-column-right {
        width: 377px
    }

}


@media (max-width: 1000px) {
    .business-container {
        height: 100%;
    }

    .business-content {
        flex-direction: column;
        padding-top: 7%;
    }

    .business-column-left {
        width: unset;
    }

    .business-photo {
        width: 600px;
    }

    .business-column-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
    }

}

@media (max-width: 800) {
    .abot-column-right {
        font-size: 20px;
    }
}

@media (max-width: 780px) {
    .business-photo {
        width: 500px !important;
    }

    .business-p {
        font-size: 13.88px;
        margin: 0;
    }
}

@media (max-width: 700px) {
    .business-photo {
        width: 400px !important;
    }
}

@media (max-width: 520px) {
    .business-photo {
        width: 300px !important;
    }
}

@media (max-width: 395px) {
    .business-photo {
        width: 250px !important;
    }
}