.title-login {
  color: #633E1B;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

.login-column {
  width: 100%;
}

.login-button {
  margin-top: 20px;
  width: 200px;
  height: 47px;
  border: 2px solid #633E1B;
  background-color: #633E1B;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background-color: #fff;
  color: #633E1B;
}

.show-btn {
  fill: #000000;
  width: 25px;
  transition: fill 0.3s ease;
}


.show-btn:hover {
  fill: #929292;
}

.hide-btn {
  fill: #000000;
  width: 24px;
  transition: fill 0.3s ease;
}

.hide-btn:hover {
  fill: #929292;
}

.visibility {
  position: absolute;
  top: 23px;
  right: 13px;
  transform: translate(0, -50%);
  cursor: pointer;
}

.login-field-subject {
  position: relative;
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact-input-psw{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 50px 0 15px;
}

@media (max-width: 420px) {
  .login-button {
    width: 180px;
  }
}